// header
.menu__burger{
    width: 35px;
    // height: 24px;
    // display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    row-gap: 4px;
    // line-height: 0;?

    // border: 1px solid red;
    @include flex_col-between();
    display: none;

    &--span{
        border: 1px solid #FFF;
        background-color:#fff;
        height: 3px;
        border-radius: 10px;
        // line-height: 0;

    }

    // @include media_1024 (
    //     content{

    //         display:flex;
    //     }

    

    // )
}
// maim
